.video-about {
  padding-bottom: 155px;
  @media (min-width: 803px) {
    padding-bottom: 200px;
  }
}
.video-about__container {
}
.video-about__title {
  line-height: 48px;
  @media (min-width: 803px) {
    line-height: 72px;
  }
}

.video-about__video {
  width: 100%;
  max-width: 1060px;
  margin-top: 60px;
  @media (min-width: 803px) {
    display: block;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    @include marginCenter;
  }
}
