$mainFont: "Open Sans", sans-serif;
$titelFont: "Tenor Sans", sans-serif;
$smallContainer: 320px;
$mdContainer: 768px;
$largeContainer: 1200px;
$accentColor: #a1b29f;
$textColor: #323232;
$titelColor: #57463a;

$mainTextSize: 18px;
$smTitel: 32px;
$lrTitel: 48px;
